.main {
    flex: 1;
}

.hero {
    display: flex;
    flex-direction: column;
}
.hero-banner{
    background-position: -50px;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
  }

.hero-banner, img{
    background-position: 0 -50px;
}

  .content{
    display: flex;
    justify-content: center;
  }
  
  .hero-content {
    position: absolute;
    top: 6rem;
    width: 200px;
    background: white;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;
  }
  
  .hero-content .subtitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
  }
  
  .hero-content .text {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  
  @media (min-width: 920px) {
    .hero-banner {
      height: 400px;
      background-position: 0% 33%;
    }
  
    .hero-content {
      position: absolute;
      top: 120px;
      right: 50px;
      width: 300px;
      margin: 2rem;
    }
  
    .hero-content .subtitle {
      font-size: 1.5rem;
    }
  
    .hero-content .text {
      font-size: 1.2rem;
    }
  }